<!DOCTYPE html>
{% verbatim %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Users</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script>
        angular.module("app", []).controller("mainCtrl", function($scope,$http){
            $scope.users = null;
            $scope.search_query = "";
            $scope.page =1;

            $scope.search =function(){
                $scope.page =1;
                $scope.search_query = $scope.search_name;
                $http.get("/user?q="+$scope.search_query+"&page="+$scope.page).then(function(response){
                    $scope.users = response.data["users"];
                    $scope.total_pages = response.data["total"]/30
                    $scope.total = response.data["total"]
                })
            };

            $scope.search_page = function(page){
                if(page<1 || page> $scope.total_pages){
                    return
                }
                $scope.page =page;
                $http.get("/user?q="+$scope.search_query+"&page="+$scope.page).then(function(response){
                    $scope.users = response.data["users"];
                })
            }
        });
    </script>

    <style>
        html, body {
            height:100%;
            font-family: -webkit-body;
        }
        html {display:table; width:100%;}
        body {display:table-cell; text-align:center; vertical-align:middle;}


        .center_input{
            display: inline-block;
            width: 450px;
            height: 43px;
            margin-top: 23px;
            border-radius: 0px;
            border: 1px solid black;
        }

        .search-button {
            background-color: white;
            background-image: none;
            border: 1px solid black;
            border-radius: 0;
            color: black;
            padding: 5px 20px;
            font-size: 20px;
        }
    </style>
</head>
<body ng-app="app">
    <div class="container center_div" ng-controller="mainCtrl">
        <h1>Search</h1>
        <form>
            <div class="form-group">
                <input type="text" class="form-control center_input" ng-model="search_name">
            </div>
            <button type="submit" class="btn search-button" ng-click="search()">Submit</button>
        </form>

    <div>
        <div ng-show="users" style="text-align:left;">
            <h2>Results</h2>
            <h4>{{users.length}} out of {{total}}</h4>
        </div>

        <table class="table table-striped" ng-show="users && users.length>0">
            <tr ng-repeat="x in users">
                <td><img src="{{x.avatar_url}}" style="height:40px"></td>
                <td>{{x.login}}</td>
                <td>{{x.type}}</td>
                <td>{{x.followers}}</td>
                <td>{{x.following}}</td>
            </tr>
        </table>

        <nav aria-label="Page navigation" ng-hide="!users || total_pages<=1">
            <ul class="pagination">
                <li>
                    <a ng-click="search_page(page-1)"  ng-class="{disabled:page==1}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#" class="active">{{page}}</a></li>
                <li>
                    <a ng-click="search_page(page+1)" ng-class="{disabled:page+1>total_pages}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    </div>

</body>
</html>
{% endverbatim %}